* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 24px;
}

#input {
    padding: 64px;
}

div:focus {
    outline: none; /* отключить обводку при выделении */
}

p {
    margin-bottom: 12px;
}

.theme-darcula {
    background: #2a2e39;
    color: darkkhaki;
}

body::-webkit-scrollbar {
    display: none;
}